form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* Aumentar el ancho máximo para acomodar tres columnas */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
